<h1>Tweets</h1>
<%= link_to 'New Tweet', new_tweet_path %>
<table>
  <tr>
    <th>Username</th>
    <th>Tweet</th>
  </tr>

  <% @tweets.each do |tweet| %>
    <tr>
      <td><%= tweet.username %></td>
      <td><%= tweet.text %></td>
      <td><%= link_to 'Delete', tweet_path(tweet),
                      method: :delete,
                      data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
</table>
